@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
:root {
	--background: oklch(0.9713 0.0029 84.5591);
	--foreground: oklch(0.2697 0 0);
	--card: oklch(0.9412 0.0039 84.5621);
	--card-foreground: oklch(0.2697 0 0);
	--popover: oklch(0.9412 0.0039 84.5621);
	--popover-foreground: oklch(0.2697 0 0);
	--primary: oklch(0.6272 0.1644 48.2701);
	--primary-foreground: oklch(0.9854 0.001 84.5538);
	--secondary: oklch(0.3657 0.0208 248.3964);
	--secondary-foreground: oklch(0.9854 0.001 84.5538);
	--muted: oklch(0.8868 0.0037 84.5622);
	--muted-foreground: oklch(0.5052 0.0205 248.2336);
	--accent: oklch(0.8899 0.0395 57.7406);
	--accent-foreground: oklch(0.417 0.1078 48.8374);
	--destructive: oklch(0.5433 0.2122 28.1901);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.8467 0.0133 58.144);
	--input: oklch(0.8856 0.0099 58.2075);
	--ring: oklch(0.6272 0.1644 48.2701);
	--chart-1: oklch(0.6272 0.1644 48.2701);
	--chart-2: oklch(0.4114 0.0323 248.618);
	--chart-3: oklch(0.6908 0.1395 85.992);
	--chart-4: oklch(0.5447 0.0709 195.2719);
	--chart-5: oklch(0.4708 0.1367 24.0033);
	--sidebar: oklch(0.9278 0.0074 84.5708);
	--sidebar-foreground: oklch(0.317 0.0173 248.3715);
	--sidebar-primary: oklch(0.6272 0.1644 48.2701);
	--sidebar-primary-foreground: oklch(0.9854 0.001 84.5538);
	--sidebar-accent: oklch(0.886 0.0131 58.156);
	--sidebar-accent-foreground: oklch(0.4686 0.1192 49.1997);
	--sidebar-border: oklch(0.8618 0.0079 58.2342);
	--sidebar-ring: oklch(0.6272 0.1644 48.2701);
	--font-sans: Inter, system-ui, sans-serif;
	--font-serif: Libre Baskerville, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.15rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 8px;
	--shadow-spread: 1px;
	--shadow-opacity: 0.15;
	--shadow-color: hsl(0, 0%, 0%);
	--shadow-2xs: 0px 2px 8px 1px hsl(0 0% 0% / 0.07);
	--shadow-xs: 0px 2px 8px 1px hsl(0 0% 0% / 0.07);
	--shadow-sm: 0px 2px 8px 1px hsl(0 0% 0% / 0.15), 0px 1px 2px 0px hsl(0 0% 0% / 0.15);
	--shadow: 0px 2px 8px 1px hsl(0 0% 0% / 0.15), 0px 1px 2px 0px hsl(0 0% 0% / 0.15);
	--shadow-md: 0px 2px 8px 1px hsl(0 0% 0% / 0.15), 0px 2px 4px 0px hsl(0 0% 0% / 0.15);
	--shadow-lg: 0px 2px 8px 1px hsl(0 0% 0% / 0.15), 0px 4px 6px 0px hsl(0 0% 0% / 0.15);
	--shadow-xl: 0px 2px 8px 1px hsl(0 0% 0% / 0.15), 0px 8px 10px 0px hsl(0 0% 0% / 0.15);
	--shadow-2xl: 0px 2px 8px 1px hsl(0 0% 0% / 0.38);
	--tracking-normal: 0.02em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.1442 0.0057 246.7714);
	--foreground: oklch(0.9278 0.0074 84.5708);
	--card: oklch(0.1911 0.0079 248.2381);
	--card-foreground: oklch(0.9278 0.0074 84.5708);
	--popover: oklch(0.1911 0.0079 248.2381);
	--popover-foreground: oklch(0.9278 0.0074 84.5708);
	--primary: oklch(0.7096 0.173 50.3129);
	--primary-foreground: oklch(0.1442 0.0057 246.7714);
	--secondary: oklch(0.2674 0.009 248.1657);
	--secondary-foreground: oklch(0.9634 0.0024 84.5579);
	--muted: oklch(0.2349 0.0112 248.3027);
	--muted-foreground: oklch(0.72 0.0165 248.0568);
	--accent: oklch(0.2637 0.0672 52.7037);
	--accent-foreground: oklch(0.7978 0.1263 55.3442);
	--destructive: oklch(0.6362 0.2102 25.4874);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.3182 0.0115 248.1899);
	--input: oklch(0.2981 0.0105 248.1814);
	--ring: oklch(0.7096 0.173 50.3129);
	--chart-1: oklch(0.7096 0.173 50.3129);
	--chart-2: oklch(0.6148 0.0669 231.0137);
	--chart-3: oklch(0.8568 0.1599 89.0757);
	--chart-4: oklch(0.7306 0.1147 179.5905);
	--chart-5: oklch(0.6295 0.1785 23.7701);
	--sidebar: oklch(0.1678 0.0081 248.3096);
	--sidebar-foreground: oklch(0.889 0.0075 84.5717);
	--sidebar-primary: oklch(0.7096 0.173 50.3129);
	--sidebar-primary-foreground: oklch(0.1442 0.0057 246.7714);
	--sidebar-accent: oklch(0.256 0.0128 248.3252);
	--sidebar-accent-foreground: oklch(0.7362 0.1573 52.7411);
	--sidebar-border: oklch(0.2767 0.0143 248.3435);
	--sidebar-ring: oklch(0.7096 0.173 50.3129);
	--font-sans: Inter, system-ui, sans-serif;
	--font-serif: Libre Baskerville, serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.15rem;
	--shadow-x: 0px;
	--shadow-y: 8px;
	--shadow-blur: 20px;
	--shadow-spread: 2px;
	--shadow-opacity: 0.6;
	--shadow-color: hsl(0, 0%, 0%);
	--shadow-2xs: 0px 8px 20px 2px hsl(0 0% 0% / 0.3);
	--shadow-xs: 0px 8px 20px 2px hsl(0 0% 0% / 0.3);
	--shadow-sm: 0px 8px 20px 2px hsl(0 0% 0% / 0.6), 0px 1px 2px 1px hsl(0 0% 0% / 0.6);
	--shadow: 0px 8px 20px 2px hsl(0 0% 0% / 0.6), 0px 1px 2px 1px hsl(0 0% 0% / 0.6);
	--shadow-md: 0px 8px 20px 2px hsl(0 0% 0% / 0.6), 0px 2px 4px 1px hsl(0 0% 0% / 0.6);
	--shadow-lg: 0px 8px 20px 2px hsl(0 0% 0% / 0.6), 0px 4px 6px 1px hsl(0 0% 0% / 0.6);
	--shadow-xl: 0px 8px 20px 2px hsl(0 0% 0% / 0.6), 0px 8px 10px 1px hsl(0 0% 0% / 0.6);
	--shadow-2xl: 0px 8px 20px 2px hsl(0 0% 0% / 1.5);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}
